.winner{
    color: #19502B;
}

.loser{
    color: red;
}

.neutral{
    color: grey;
}

table, th, td {
    border: 1px solid black;
    font-family: "Tahoma";
}

h1 {
    text-align: left;
    font-family: "Lobster", arial;
}

